* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: rgb(121, 59, 59);
    background: #1f2937;
}
.header-top span {
    color: olive;
}
.header-top h2 {
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 10px;
}
a:visited {
    color: olivedrab;
}
a:hover {
    color: #f9faf8;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 80px;
    margin-right: 40px;
}
li {
    display: flex;
    flex-wrap: nowrap;
}
button {
    background: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f9faf8;
    background: #1f2937;
    text-align: left;
    padding-left: 60px;
    height: 200px;;
}
.hero p {
    width: 400px;
    margin-left: 6px;
    margin-top: 20px;
}
.hero img {
    max-width: 200px;
    min-width: 325px;
    justify-content: center;
    margin-right: 45px;
    margin-top: 25px;
    
}
img {
    width: 100px;
    height: 100px;
    border: 2px #1f2937 solid;
    border-radius: 15px;
}
.container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    
}
.boxes {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    gap: 30px;
}
.boxes p {
    min-width: 100px;
    max-width: 120px;
}
.container3 {
    display: flex;
    background: #e5e7eb;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.container3 span {
    font-weight: bold;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    flex-shrink: 0;
}
.container3 p {
    max-width: 600px;
    min-width: 200px;
}
.container4 {
    display: flex;
    height: 190px;
    color: #f9faf8;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
}
.backdrop {
    display: flex;
    min-height: 120px;
    background: #3882f6;
    min-width: 700px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.backdrop p {
    width: 300px;
    text-align: center;
}
.button2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.footer {
    display: flex;
    background: #1f2937;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

